<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href = "styles.css" type="text/css"/>
</head>
<body>
    <div class="info">
       <h1>
           Перри Утконос
       </h1>
    <img src="https://avatars.mds.yandex.net/i?id=e305e1a730b619d2d01051be8b820ace-3986418-images-thumbs&n=13">
    </div>
    <div class="description">
        <p><strong>Привет,я Перри Утконос, и я секретный агент</strong></p>
    <p class="text-info">
        Связь со своим руководителем, <strong>Майором Монограммом</strong>, я осуществляю в огромном<br>
        высокотехнологичном подземном тайном убежище через огромный экран для видеоконференций.<br>
        Ежедневно отправляюсь на сражение со злым учёным <mark>Доктором Фуфелшмертцем</mark>.<br>
        А вечером возвращаюсь домой к семье <mark>Флин-Флетчер</mark>.
    </p>
        <br>
        <p><a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B5%D1%80%D1%80%D0%B8-%D0%A3%D1%82%D0%BA%D0%BE%D0%BD%D0%BE%D1%81">Источник</a></p>
    </div>
</body>
</html>